<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <title>Quotes Page</title>
</head>
<body>
    <div class="containerQuotes">
        <h1 id="title">Here are the awesome quotes!</h1>
        <% for (let i in info) { %>
            <p class ="quote">"<%= info[i].quote %>"</p>
            <p class ="author">-<%= info[i].name %> at <%= info[i].date %></p>
        <% } %>
        <br/>
        <a href="/"><button class="btn3 right">Go Back!</button></a>
    </div>
</body>
</html>